.App {
	width: 100vw;
	height: 100vh;
	background: linear-gradient(lightgreen, lightblue);
}

.busBody {
	position: absolute;
	background-color: lightsalmon;
}

.tyre {
	position: absolute;
	background-color: black;
}

.rim {
	position: absolute;
	background-color: grey;
}

.window {
	position: absolute;
	background-color: aquamarine;
}

.door {
	position: absolute;
	background-color: wheat;
}

.doorInterior {
	position: absolute;
	background-color: wheat;
}

.doorHandle {
	position: absolute;
	background-color: black;
}

.roof {
	position: absolute;
	background-color: wheat;
}

.sticker {
	position: absolute;
}

.luggageFrame {
	position: absolute;
	background-color: wheat;
}

.luggageSection {
	position: absolute;
}

.luggageDoorInterior {
	position: absolute;
}

.luggageDoorHandle {
	position: absolute;
	background-color: black;
}

.frontGlass {
	position: absolute;
	background-color: darkslategray;
}

.redLight {
	position: absolute;
	background-color: red;
}

.rearIndicator {
	position: absolute;
	background-color: orangered;
}
