.App{
	width: 100vw;
	height: 100vh;
	background-image: linear-gradient(lightgreen, lightblue) ;
}

.busBody {
	position: absolute;
	border-radius: 100px 50px 50px 50px;
	border: 2px solid black;
	background-color: lightsalmon;
}

.tyre {
	position: absolute;
	border-radius: 50%;
	border: 5px solid grey;
	background-color: black;
}

.rim {
	position: absolute;
	border-radius: 50%;
	border: 12px dashed black;
	background-color: grey;
}

.window {
	position: absolute;
	border-radius: 30px;
	border: 2px solid black;
	background-color: aquamarine;
}

.door {
	position: absolute;
	border-radius: 10px;
	border: 4px solid black;
	background-color: wheat;
}

.doorInterior {
	position: absolute;
	border: 5px double black;
	background-color: wheat;
}

.doorHandle {
	position: absolute;
	background-color: black;
}

.roof {
	position: absolute;
	border-radius: 50% 50% 0 0;
	background-color: wheat;
	border: 5px solid black;
}

.sticker {
	position: absolute;
	border: 3px solid wheat;
}

.luggageFrame {
	position: absolute;
	border: 3px solid black;
	background-color: wheat;
}

.luggageSection {
	position: absolute;
	border: 3px double black;
}

.luggageDoorInterior {
	position: absolute;
	border: 3px double black;
}

.luggageDoorHandle {
	position: absolute;
	background-color: black;
}

.frontGlass {
	position: absolute;
	border-radius: 100px 0px 60px 0px;
	background-color: darkslategray;
	clip-path: polygon(0% 0, 100% 0, 100% 20%, 100% 100%, 80% 100%, 20% 100%, 0 100%, 0 53%);
	border: 2px solid wheat;
}

.redLight{
	position: absolute;
	background-color: red;
	border: 1px solid black;
	border-radius: 2px;
}

.rearIndicator{
	position: absolute;
	background-color: orangered;
	border: 1px solid black;
}
